/* variables in root element */

:root {
  --font-family-main: "Bricolage Grotesque", sans-serif;
  --font-weigth-main: 500;
  --font-family-content: "Bricolage Grotesque", serif;
  --font-weight-content: 500;
  --font-family-summary: "Bricolage Grotesque", serif;
  --font-weight-summary: 500;

  --dim-color: #88888844;

  --quote-text-color: #888;
  --code-background-color: #333030;
  --code-text-color: #f0efea;
}

:root[color-scheme^='light'] {
  --body-text-color: #222831;
  --body-background-color: #EEEEEE;

  --primary-color: #660B05;
  --selection-color: #8c1007;

  --dim-opacity: 65%;
}

:root[color-scheme^='dark'] {
  --body-text-color: #EEEEEE;
  --body-background-color: #222831;

  --primary-color: #73d7dc;
  --selection-color: #4b9ca1;

  --dim-opacity: 50%;
}

